# proxmox 
proxmox_api_url          = "https://yournode.example.de:8006/api2/json"
proxmox_api_token_id     = "root@your-api-token-id"
proxmox_api_token_secret = "your-api-token-secret"

#netbox
netbox_url        = "https://netbox.example.de"
netbox_token      = "your-api-token"
netbox_site_id    = 10 # your side id
netbox_role_id    = 1 # your role id
netbox_cluster_id = 2 #your cluster id 

#gitlab
gitlab_token = "gitlab-api-token
gitlab_username = "username"

gitlab-url = "gitlab.example.de"
gitlab-project-id = "gitlab-your-project-id-in"
gitlab-group = "gitlab-group-namen"